/* Importa a fonte Poppins do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
*

/* Estilo do corpo da página */
body {
  background-image: url("tema_fundo.jp");
  background-size: cover;
  background-position: center;
}

/* Estilo do título principal */
h1 {
    color: #f7f7f7;
    display: flex;
}

/* Container que organiza os cards */
.container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

/* Estilo base dos cards */
.card {
    background-color: rgba(10, 10, 10, 0.87);
    width: 300px;
    border-radius: 25px;
    padding: 65px;
    color: #f7f7f7;
    box-shadow: 0 0 5px #000; 
}

/* Efeito ao passar o mouse sobre o card */
.card:hover {
  transform: scale(1.07);
  cursor: pointer;
  box-shadow: 0 0 25px 8px #ffffff; 
    background-color: rgb(26, 26, 26);
  color: #fff;
  padding: 12px;
  border: 2px solid rgb(62, 62, 62);
  transition: 0.5s ease;
  position: relative;
}

/* Estilo das imagens dentro do card */
.card img {
    width: 100%;
    border-radius: 10px;
}

/* Estilo do título do jogo */
.card h2 {
    margin: 10px;
}

/* Estilo do texto de descrição */
.card p {
    font-size: 19px;
}

